.maplibregl-popup-content {
  background-color: #fdc200;
  color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.maplibregl-popup-tip {
  border-top-color: #fdc200 !important;
}
